#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}



details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

.toggleContainer {
  display: flex;            /* フレックスボックスで配置 */
  justify-content: flex-end; /* トグルボタンを右寄せ */
  align-items: center;       /* 垂直方向で中央揃え */
  margin-bottom: 16px;       /* 上下に適切な余白 */
}

.toggleLabel {
  margin-right: 10px;        /* テキストとトグルボタンの間に余白を追加 */
  font-size: 16px;           /* 適切な文字サイズ */
  color: #333;               /* 文字色 */
}

.toggleButton {
  position: relative;
  display: block;
  width: 56px;
  height: 28px;
  border-radius: 9999px;
  background-color: #dddddd;
  cursor: pointer;
}

.toggleButton:has(:focus-visible) {
  outline: auto;
  outline: auto -webkit-focus-ring-color;
}

.toggleButton:has(:checked) {
  background-color: #4ade80;
}

.toggleButton__checkbox {
  appearance: none;
  position: absolute;
  left: -3px;
  width: 22px;
  height: 22px;
  border-radius: 9999px;
  outline: none;
  background-color: #ffffff;
  transition: left 0.2s;
  cursor: pointer;
}

.toggleButton__checkbox:checked {
  left: calc(100% - 26px);
}

.app-container {
  display: flex;
  flex-direction: row; /* アイテムを縦に並べる */
  height: 100vh; /* ビューポートの高さに合わせて全画面表示 */
}

.map-container {
  flex: 1; /* 利用可能なスペースを等分に使用 */
  overflow: hidden; /* 内容がはみ出た場合にスクロールバーを表示しない */
}

.info-container {
  flex: 1; /* 利用可能なスペースを等分に使用 */
  overflow: hidden; /* 内容が多い場合にスクロールバーを表示 */
}

.network-html {
  overflow: hidden;
}