body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #213547;
  padding: 2rem;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

details {
  margin: 1rem 0;
  font-size: 1rem;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 0.5em;
  font-size: 1em;
  font-weight: 500;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

#color-buttons {
  margin-bottom: 1rem;
  text-align: center;
}

#info {
  margin-top: 0;
}

.custom-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.network-html {
  overflow: hidden;
}

.layout {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider:before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.toggle-switch input:checked + .slider {
  background-color: #4caf50;
}

.toggle-switch input:checked + .slider:before {
  transform: translateX(22px);
}

.sidebar {
  flex: 1;
  max-width: 40%;
}

.main {
  flex: 1;
}

#map {
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
}
#compare-toggle {
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  font-size: 1rem;
}
